@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./base.css";
@import "tailwindcss";

@theme {
  /* ---------------------------------- Color --------------------------------- */
  /* белый */
  --color-main: #ffffff;
  /* черный */
  --color-content--primary: #000000;
  /* серый */
  --color-content--secondary: #222222;
  /* желтый */
  --color-accent--primary: #cefd3b;
  /* красный */
  --color-accent--secondary-hot: #fb4b4d;
  /* синий */
  --color-accent--secondary-cold: #8b83f6;

  /* --------------------------------- Spacing -------------------------------- */

  /** единица отступа */
  --spacing: 1rem;
  /* стандартный отступ */
  --spacing-default: 2rem;
  /* увеличенный стандартный отступ */
  --spacing-default--big: calc(var(--spacing-default) * 2);
  /* уменьшенный стандартный отступ */
  --spacing-default--small: calc(var(--spacing-default) / 2);
  /* максимальная ширина контейнера */
  --spacing-container: 139.7rem;

  /* -------------------------------- Tracking -------------------------------- */

  /* стандартный отступ между буквами */
  --tracking-default: 0.05rem;

  /* ------------------------------- Text shadow ------------------------------ */

  /** тень заголовка */
  --heading-text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  /* --------------------------------- Animate -------------------------------- */

  /** анимация бегущей строки */
  --animate-runningline: runningline linear infinite;

  @keyframes runningline {
    to {
      transform: translateX(-100%);
    }
  }
}
